@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #f27405;
  --secondary-color: #f2913d;
  --main-white: #fff;
  --main-black: #000;
  --background-color: #f2e7dc;
  --grey-dark: #666;
  --grey-light: #c7c7c7;
  --skeleton-grey: #e9e9e9;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background: var(--main-white);
  color: var(--main-black);
  transition: color, background 0.5s ease-in;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 2048px;
  margin: auto;
}

.dark-mode {
  background: var(--main-black);
  color: var(--main-white);
  transition: color, background 0.5s ease-out;
}

/* for chrome/safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

.body-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "sidebar newsbox morebox annoucementbox";
  grid-template-columns: max-content max-content minmax(0, 1fr) max-content;
}

/* side-nav */
.side-nav {
  height: 100%;
  border-right: 1px solid #c7c7c7;
  width: max-content;
  grid-area: sidebar;
}

.side-nav .page-icons {
  display: flex;
  flex-direction: column;
}

.side-nav .page-icons div {
  padding: 2rem;
  border-bottom: 1px solid #c7c7c7;
}

.side-nav .menu-btn {
  display: none;
  background: none;
}

.side-nav .mobile-menu {
  display: none;
}

.nav-icon {
  font-size: 3.6rem;
  color: #888;
}

.side-nav a:hover .nav-icon {
  color: var(--main-color);
  animation: jiggle 1s ease-in-out infinite;
}

#announcements-icon {
  display: none;
}

@keyframes jiggle {
  0% {
    transform: rotateZ(-15deg);
  }
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

/* side-modal */
.side-modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  justify-content: flex-end;
  background-color: #00000090;
}

.side-modal-backdrop .side-modal {
  width: 40%;
  height: 100%;
  background-color: var(--main-white);
}

/* news-container */
.news-container {
  width: 100%;
  padding: 0 3rem;
  overflow-y: auto;
  min-width: 600px;
  padding-top: 1rem;
  grid-area: newsbox;
  border-right: 1px solid var(--grey-light);
  /* for firefox */
  scrollbar-color: var(--secondary-color);
}

.news-container > div {
  padding: 2rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* news-card */
.news-card,
.skeleton-card {
  border-radius: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 1px solid #c7c7c7;
  margin-bottom: 3rem;
  min-width: 350px;
}

.news-header,
.skeleton-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}

.news-header .content-left,
.skeleton-header .skeleton-left {
  display: flex;
  gap: 1rem;
}

.news-header .content-left img,
.skeleton-header .skeleton-left > div:first-of-type {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.skeleton-header .skeleton-left > div:first-of-type {
  background-color: var(--skeleton-grey);
}

.skeleton-header .skeleton-left .skeleton-info > div:first-of-type,
.skeleton-header .skeleton-left .skeleton-info > div:last-of-type,
.skeleton-right > div {
  width: 50px;
  height: 1.5rem;
  background-color: var(--skeleton-grey);
  border-radius: 1rem;
}

.skeleton-header .skeleton-left .skeleton-info > div:last-of-type {
  margin-top: 1rem;
  width: 100px;
}

.news-header .content-left img.dark-mode {
  border: 1px solid var(--main-white);
}

.content-right .news-duration {
  text-align: right;
}

.author-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.author-department {
  font-size: 1.3rem;
}

.news-duration {
  font-size: 1.3rem;
  color: var(--grey-dark);
}

.skeleton-body > div:last-of-type {
  width: 100%;
  height: 300px;
  background-color: var(--skeleton-grey);
}

.no-data-image {
  width: 100%;
  height: clamp(350px, 600px, 700px);
  object-fit: cover;
}

.news-body img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.skeleton-content {
  padding: 1rem 2rem;
}

.news-body p,
.skeleton-content > div {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  max-width: 500px;
}

.skeleton-content > div {
  background-color: var(--skeleton-grey);
  width: 300px;
  height: 1.3rem;
  border-radius: 1rem;
}

.skeleton-content > div:last-of-type {
  margin-top: 1rem;
  width: 250px;
}

.news-footer,
.skeleton-footer {
  display: flex;
  gap: 1rem;
}

.skeleton-footer {
  padding: 2rem;
}

.skeleton-footer > div {
  height: 4rem;
  width: 4rem;
  background-color: var(--skeleton-grey);
  border-radius: 1rem;
}

.news-footer span {
  display: flex;
  align-items: center;
}

.news-footer span i {
  font-size: 2.5rem;
  padding: 1rem;
}

.news-footer span label {
  font-size: 1.2rem;
}

.skeleton-header .skeleton-left > div:first-of-type,
.skeleton-header .skeleton-left .skeleton-info > div,
.skeleton-right > div,
.skeleton-body > div:last-of-type,
.skeleton-content > div,
.skeleton-footer > div {
  position: relative;
  overflow: hidden;
}

.skeleton-header .skeleton-left > div:first-of-type::after,
.skeleton-header .skeleton-left .skeleton-info > div::after,
.skeleton-right > div::after,
.skeleton-body > div:last-of-type::after,
.skeleton-content > div::after,
.skeleton-footer > div::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  z-index: 500;
  filter: blur(5px);
  animation: shimmer 2s ease-out infinite;
}

/* end of news-container */

/* more-section */
.more-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  border-right: 1px solid var(--grey-light);
}

.top-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}
/* end of more-section */

/* search-bar */
.search-block,
.mobile-search {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
}

.mobile-search {
  margin: 1rem;
}

.mobile-search input,
.search-block input {
  width: 100%;
  background: transparent;
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: var(--grey-dark);
}

::placeholder {
  color: var(--grey-dark);
}

.mobile-search button,
.search-block button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--secondary-color);
  transition: transform 0.2s ease-out;
}

.search-block button i {
  font-size: 2rem;
}

.search-block button:hover {
  transform: scale(1.1);
}

/* news-tile */
.more-news {
  height: 100%;
  grid-column: 1 / -1;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  grid-area: morebox;
}

.news-tile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.news-tile,
.skeleton-news-tile {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  transition: color, background 0.5s ease-out;
}

.news-tile.dark-mode {
  background: var(--grey-dark);
  transition: background, box-shadow 0.5s ease-out;
  box-shadow: var(--grey-dark) 0px 2px 8px 0px;
}

.news-tile img,
.skeleton-news-tile > div:first-child {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.skeleton-news-tile.darkmode {
  background-color: var(--grey-light);
}

.skeleton-news-tile > div:first-child {
  background-color: var(--skeleton-grey);
}

.news-tile div p,
.skeleton-news-tile > div:last-child {
  width: 200px;
}

.skeleton-news-tile > div:first-child {
  position: relative;
  overflow: hidden;
}

.skeleton-news-tile > div:last-child > div {
  position: relative;
  height: 1.5rem;
  width: 100%;
  background-color: var(--skeleton-grey);
  margin-top: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.skeleton-news-tile > div:last-child > div:first-child {
  height: 2rem;
}

.skeleton-news-tile > div:last-child > div:last-child {
  width: 150px;
}

.skeleton-news-tile > div:first-child::after,
.skeleton-news-tile > div:last-child > div::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  z-index: 500;
  filter: blur(5px);
  animation: shimmer 2s ease-out infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* end of news-tile */

/* announcements section */
.announcements-container {
  grid-area: annoucementbox;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.announcements-container > div {
  display: flex;
  width: 100%;
  gap: 1rem;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1rem 2rem;
}

.announcements-container .announcement-tile {
  max-width: 250px;
  min-width: 150px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 1rem;
}

.announcements-container .announcement-tile.dark-mode {
  background-color: var(--grey-dark);
}
.announcements-container .announcement-tile p {
  display: none;
}
/* end of announcements section */

/* toggle-switch */
.toggle-switch {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 3rem;
  width: 2rem;
  height: 4rem;
  background-color: var(--main-color);
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--main-color),
    -0.1rem -0.1rem 0.1rem var(--main-color);
  transition: top 0.4s 0.2s;
}

.toggle-switch.change {
  top: 5rem;
  transition: top 0.4s;
}

.toggle-switch:hover {
  transform: scale(1.02);
}

.toggle-switch::before {
  position: absolute;
  content: "";
  width: 0.3rem;
  height: 5rem;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  box-shadow: 0.1rem 0.1rem var(--main-color);
}
/* end of toggle-switch */

/* responsive layouts */

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  /* .news-container {
    min-width: 300px;
  } */

  .news-body img {
    height: 300px;
    width: 100%;
  }

  .news-tile {
    width: 300px;
  }

  .search-block {
    max-width: 300px;
  }

  .news-tile img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1400px) {
  .skeleton-news-tile,
  .news-tile {
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 200px;
  }

  .skeleton-news-tile > div:first-child,
  .news-tile img {
    height: 100px;
    width: 150px;
  }

  .skeleton-news-tile > div:last-child > div {
    height: 1.2rem;
  }

  .skeleton-news-tile > div:last-child > div:first-child {
    height: 1.5rem;
  }

  .search-block {
    max-width: 200px;
  }

  .news-container {
    min-width: 250px;
  }

  .news-card {
    max-width: 400px;
  }
}

/* mobile screens */
@media (max-width: 768px) {
  html {
    overflow-y: auto;
    overflow-x: hidden;
  }

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .toggle-switch {
    display: none;
  }

  .side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--main-white);
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-right: none;
    border-top: 1px solid var(--grey-light);
    grid-area: sidebar;
  }

  .side-nav.dark-mode {
    background-color: var(--main-black);
  }

  .side-nav .page-icons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .side-nav .page-icons div {
    border-bottom: none;
  }

  .side-nav .menu-btn {
    display: block;
    padding: 1rem;
  }

  .side-nav .mobile-menu.active {
    display: flex;
    flex-direction: column;
    background: var(--main-white);
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    border-top: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);
  }

  .side-nav .mobile-menu.dark-mode {
    background: var(--grey-dark);
  }

  .side-nav .mobile-menu .night-mode-btn {
    display: flex;
    align-items: baseline;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--grey-light);
  }

  .side-nav .mobile-menu .night-mode-btn i:first-of-type {
    margin-left: 1rem;
    font-size: 2rem;
  }

  #announcements-icon {
    display: block;
  }

  .body-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "annoucementbox"
      "newsbox"
      "sidebar";
  }

  .news-container {
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
    scrollbar-width: none;
  }

  .news-container::-webkit-scrollbar {
    display: none;
  }

  .news-card,
  .skeleton-card {
    max-width: 600px;
    margin-bottom: 1.5rem;
  }

  .more-container {
    display: none;
  }

  .news-card {
    min-width: 300px;
  }

  .announcement-tile {
    margin-bottom: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
  }
}
