@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background: var(--main-white);
  color: var(--main-black);
  transition: color, background 0.5s ease-in;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 2048px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

/* side-nav */
.side-nav {
  height: 100%;
  border-right: 1px solid #c7c7c7;
  width: max-content;
  grid-area: sidebar;
}

.side-nav .page-icons {
  display: flex;
  flex-direction: column;
}

.side-nav .page-icons div {
  padding: 2rem;
  border-bottom: 1px solid #c7c7c7;
}

.side-nav .menu-btn {
  display: none;
  background: none;
}

.side-nav .mobile-menu {
  display: none;
}

.nav-icon {
  font-size: 3.6rem;
  color: #888;
}

.side-nav a:hover .nav-icon {
  color: var(--main-color);
  animation: jiggle 1s ease-in-out infinite;
}

#announcements-icon {
  display: none;
}

@keyframes jiggle {
  0% {
    transform: rotateZ(-15deg);
  }
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

/* mobile-screens */
@media (max-width: 768px) {
  html {
    overflow-y: auto;
    overflow-x: hidden;
  }

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .toggle-switch {
    display: none;
  }

  .side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 400;
    background-color: var(--main-white);
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-right: none;
    border-top: 1px solid var(--grey-light);
    grid-area: sidebar;
  }

  .side-nav.dark-mode {
    background-color: var(--main-black);
  }

  .side-nav .page-icons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .side-nav .page-icons div {
    border-bottom: none;
  }

  .side-nav .menu-btn {
    display: block;
    padding: 1rem;
  }

  .side-nav .mobile-menu.active {
    display: flex;
    flex-direction: column;
    background: var(--main-white);
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    border-top: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);
  }

  .side-nav .mobile-menu.dark-mode {
    background: var(--grey-dark);
  }

  .side-nav .mobile-menu .night-mode-btn {
    display: flex;
    align-items: baseline;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--grey-light);
  }

  .side-nav .mobile-menu .night-mode-btn i:first-of-type {
    margin-left: 1rem;
    font-size: 2rem;
  }

  #announcements-icon {
    display: block;
  }
}
